body{
    background: url(https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_960_720.jpg);
    background-size: cover;
    font-family: lato;
}
html{
	height: 100%;
}
#content
{
	text-align: center;
	padding: 14%;
}

h1{
	color: white;
	font-weight: 700;
	font-size: 6em;
}
h5{
	color: white;
    font-size: 2em;	
}
hr{
	color:white;
	width: 400px;
}
